/*whole-page*/
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 1px 1px 1px 1px;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(220, 212, 212); 
    text-shadow: 1px 1px 1px  rgb(12, 12, 12);
    background-color: grey;
    
}

/*Header and nav section*/   
.header {
    padding: .5rem;
    margin: .5rem;
    text-shadow: 2px 2px 2px  rgb(12, 12, 12);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: slategrey;
    border-bottom: 5px solid rgb(220, 212, 212); 
    
}
.header img{
    max-width: 7rem;
    max-height: 7rem;
    border-radius: 100rem;
    
    
}
header h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    background-color: slategrey;
}

nav ul{
    font-size: 20px;
    display: flex;
    list-style: none;
    background-color: slategrey;
}

nav ul li a{
    padding: 0rem 2rem;
    background-color: slategrey;
    display: inline;   
}
nav a:hover{
    text-decoration: underline;
}


/*About Me Section*/
.about-me-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 1rem 5rem;
    gap: 5rem;
    max-width:fit-content;
    
}

.about-me-container img{
    height: 15rem;
    border-radius: 2px;
    border-right: 5px solid rgb(220, 212, 212);
    box-shadow: 0px 3px 3px rgb(31, 30, 30);
}
.about-me{
    box-shadow: 3px 3px 3px rgb(31, 30, 30);
    border-radius: 2px;
    width: 45rem;
    padding: 0.6rem;
    background-color: slategrey;
}
.about-me .title-me{
    background-color: slategrey;
}
.text-me{
    background-color: slategrey;
}
/*Project Section*/  
.projects-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem 1rem 0rem;
    font-size: 3rem;
}
.projects-container h2{
    margin: 0rem 3rem 0rem 0rem;
    border-right: 5px solid rgb(220, 212, 212);
    text-shadow: 0px 3px 3px rgb(31, 30, 30);

}
.project-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
   
}
.horiseon{
    transition: all 0.5s;
    background-blend-mode: normal;
    background-image: url(../images/horiseon.png);
    width: 52rem;
    height: 20rem;
    box-shadow: 3px 3px 3px rgb(31, 30, 30);
    border-radius: 2px;
}
.horiseon:hover{
    background-color:aliceblue;

}
.horiseon img{
    
    height: 20rem;
    
    padding: 0.625rem;
}

.future-container{
    display: flex;
    flex-wrap: wrap;
}

.future-projects img{
    box-shadow: 3px 3px 3px rgb(31, 30, 30);
    border-radius: 2px;
    height: 20rem;
    padding: 0.625rem;
}
.future-projects img:hover{
    opacity: 80;
    transition: .2;
}
/*Contact Section*/  
.contact-me{
    padding: 1rem;
    margin: 5rem 1rem 1rem 1rem;
    text-shadow: 2px 2px 2px  rgb(12, 12, 12);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: slategrey;
    border-top: 6px solid rgb(220, 212, 212);
    
}
.contact-me h2{
    font-size: 50px;
    display: flex;
    align-items: center;
    background-color: slategrey;
}
.contact-me ul{
    font-size: 20px;
    display: flex;
    list-style: none;
    background-color: slategrey;
}
.contact-me ul a{
    padding: 0 2rem;
    background-color: slategrey;   
}
.contact-me ul li{
    background-color: slategrey;   
}

@media (min-width: 600px) and (max-width: 900px) {
}

@media (min-width: 1200px) {

}